#loginpage::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://wallpapercave.com/wp/wp4299470.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    transform: scale(1.05);
    z-index: -1;           
}
#enter {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20%;
    margin-left: 40%;
    text-align: center;
    align-self: center;
    width: 450px;
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
#Login {
    width: 300px;
    height: 50px;
}
#username {
    width: 300px;
    height: 50px;
}
#password {
    width: 300px;
    height: 50px;
}