#loginpage::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://wallpapercave.com/wp/wp4299470.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    transform: scale(1.05);
    z-index: -1;           
}
#log {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20%;
    margin-left: 40%;
    text-align: center;
    align-self: center;
    width: 450px;
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
#Login {
    width: 300px;
    height: 50px;
}
#username {
    width: 300px;
    height: 50px;
}
#password {
    width: 300px;
    height: 50px;
}
#homebody {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

#homebody::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  transform: scale(1.05);
  z-index: -1;
}
#profiletop {
  text-align: center;
  font-size: 80px;
  background-color: teal;
}

#profilebottom {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  background-color: #dd8741;
}
#Homediv {
  background-color:teal;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#infobuttons {
  background-color: #dd8741;;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#infobuttons .infobutton {
  height: 100px;
  width: 50%;
  background-color: #dd8741;;
  font-size: 24px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}

#infobuttons .infobutton:hover {
  background-color:teal;
  color: aqua;
  font-size: 28px;
}

#infoheading {
  font-size: 50;
  color: black;
}

#infop {
  font-size: 35;
  color: black;
}

#buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color:teal;
}

#infobox {
    width: 100%;
    color: black;
    background-color: #dd8741;
    p {
        font-size: 35px;
    }
    h1 {
        font-size: 50px;
    }
}
#buttons button {
  width: 25%;
  height: 100px;
  font-size: 28px;
  border-radius: 50px;
  border: none;
  background-color:teal;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

#buttons button:hover {
  background-color: #dd8741;;
  color: aqua;
  font-size: 30px;
}



